.navbar.navbar-default(role="navigation")
  .container-fluid
    a.navbar-brand(ui-sref="root") iReklamo
    a.navbar-brand.pull-right(ng-cloak, ng-click="signUp()") Sign Up
    a.navbar-brand.pull-right(ng-cloak, ng-click="logIn()") Log In
.clearfix

.container-fluid
  div(ui-view="content")
