.navbar.navbar-default(role="navigation")
  .container-fluid
    a.navbar-brand(ui-sref="root") iReklamo
    a.navbar-brand.pull-right(ng-cloak) Sign Up
.clearfix

.container-fluid
  div(ui-view="content")
