.container
  .row
    .col-sm-4.col-sm-offset-4
      .login-form
        h3.text-center Already a member?
        form.form(name="form", novalidate="novalidate")
          .form-group.required
            input.form-control.input-lg(type="email", name="email", ng-model="user.email", placeholder="Email", autofocus="true", ng-required="true")
            p.small.text-error(ng-show="form.email.$invalid && form.$submitted") A valid email address is required

          .form-group.required
            input.form-control.input-lg(type="password", name="password", ng-model="user.password", ng-required="true", placeholder="Password")
            p.small.text-error(ng-show="form.password.$invalid && form.$submitted") Password is required
            p.small.text-error(ng-show="session.loginError") {{ session.loginError }}

          .form-group
            .col-sm-6.col-sm-offset-6.pr-0
              button.btn.btn-primary.btn-md.btn-block(ng-click="session.login(form)", type="submit") Login


