#search-container.container
  .row
    .col-sm-12
      h1(ng-show='busy') Finding location...

  .row
    form(role='form', name='form', ng-submit="search($event, form)", novalidate)
      .col-md-5
        .input-group
          input.form-control(type="text", id="search", ng-model='searchTerm')
          span.input-group-btn
            button.btn.btn-primary(type='submit') Search


  br
  .row
    .col-sm-3
      #search-results(ng-switch="true")
        div(ng-if="filteredGarages().length == 0")
          p
            strong We can't seem to ï¬nd any matching parking nearby.
          p That doesn't mean there's no parking here, it could be due to your search filters or we just don't have recent data for this area.
          p Try searching in a different area or adjust your search preferences.

        ul(ng-if="garages.length > 0")
          li(ng-repeat="sg in garages | garages:preferences", ng-click="navigateToPin(sg)", ng-show="sg.rate(interval).member > 0")
            .provider-name
              strong {{ sg.service_provider_name }}
            strong {{ sg.name }} <br/><br/>
            .pull-right
              strong {{ "$" + sg.rate(interval).member }} <br/>
              | per {{ interval }}
            span {{ sg.distance | number: 2 }} miles away <br/>
            | M-F: {{ sg.hours("monday") }}

    .col-sm-9.pl-0
      #map
